.room {
  height: 80vh;

  nav {
    background: #999;

    a, p {
      color: white;
    }

    .navbar-nav {
      flex-flow: row;

      li.nav-item {
        margin-left: 20px;
        display: flex;
        align-items: center;
      }
    }
  }

  .container-fluid {
    margin: 40px 0;
    height: 100%;

    .row {
      height: 100%;

      .col-lg-9 {
        overflow-y: auto;
      }

      .search-container {
        min-height: 200px;
        background-color: #3a83ff;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 10px;
        box-shadow: 0 5px 20px gray;
        margin-bottom: 40px;

        .search-text {
          text-align: center;
          color: white;
        }

        input {
          width: 50%;
          margin: 0 auto;
          height: 50px;
        }
      }

      .chat-container {
        border: 1px solid darkgray;
        border-radius: 5px;
        height: 100%;
        padding: 15px;
        display: flex;
        flex-flow: column-reverse;

        p {
          margin-bottom: 5px;
        }
      }
    }
  }
}